<div class="main">
    <div class="speakers">
        <h1 class="title1">Discover our speaker</h1>
        <p class="sp_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque deserunt eligendi quia, cupiditate, dolorum harum ratione consectetur minus tempore temporibus officiis quaerat perspiciatis debitis molestiae iure nobis odio, veniam in! <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aperiam dolore laboriosam hic quibusdam dolorum sint cum odio excepturi, explicabo ipsum ipsa aspernatur reprehenderit adipisci commodi magni enim soluta provident!</p>
    </div>

    <section class="mt-5">
        <div class="team-row">
            <div class="member">
                <img src="../../../assets/img/abdoulaye.jpg" alt="Avatar" />
                <h3>Pr Abdoulaye NDIAYE</h3>
                <p>Professeur</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/peter.jpeg" alt="Avatar" />
                <h3>Peter Todd</h3>
                <p>Contributeur Bitcoin</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/saifedean ammous.jpg" alt="Avatar" />
                <h3>Dr Saifedean Ammous</h3>
                <p>Ecrivain - Professeur</p>
            </div>

        <!--
            <div class="member">
                <img src="../../../assets/img/bashir.jpg" alt="Avatar" />
                <h3>Bashir</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/bineta.jpg" alt="Avatar" />
                <h3>Bineta</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/cheikh seye.jpg" alt="Avatar" />
                <h3>Cheikh SEYE</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/djiby.png" alt="Avatar" />
                <h3>Djiby</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/elisee.jpg" alt="Avatar" />
                <h3>Elisse</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/emmanuel.jpg" alt="Avatar" />
                <h3>Emmanuel</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/joe.png" alt="Avatar" />
                <h3>Joe</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/massamba sy.png" alt="Avatar" />
                <h3>Massamba SY</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/Mouhammad Dieng.jpeg" alt="Avatar" />
                <h3>Mouhammad DIENG</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/ousmane.jpg" alt="Avatar" />
                <h3>Ousmane</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/paco.jpg" alt="Avatar" />
                <h3>Paco</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/prince.jpg" alt="Avatar" />
                <h3>Prince</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/sebastien.jpg" alt="Avatar" />
                <h3>Sebastien</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/sebastien.PNG" alt="Avatar" />
                <h3>Sebastien</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/seydina.jpg" alt="Avatar" />
                <h3>Seydina</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/stephanlivera.33924e6.jpg" alt="Avatar" />
                <h3>Stephan Livera</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/toffene.jpeg" alt="Avatar" />
                <h3>Toffene</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/vlad costea.jpg" alt="Avatar" />
                <h3>Vlad Costea</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/vlad fomene.jpg" alt="Avatar" />
                <h3>Vlad Fomene</h3>
                <p>Eternal learner</p>
            </div>

        -->

        </div>

    </section>
</div>
