* {
    // background: #008773;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title1 {
    position: relative;
    text-align: center;
    top: 15%;
    left: 10%;
    right: 10%;
    color: #FAC400;
    font-family: 'Sora';
    font-style: normal;
    width: 80%;
    padding-top: 5%;
}

.sp_paragraph {
    position: relative;
    top: 5%;
    left: 5%;
    right: 5%;
    line-height: 35px;
    text-align: center;
    font-family: 'Sora';
    font-style: normal;
    width: 90%;
    margin-top: 5%;
}


.bigSponsor{
    width: 100%;
}

.imgSlideJaune{
    border-radius: 50%;
    margin-top: 5%;

}


.imgSlideVert{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}
.nom_img{
    font-family: 'Sora';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;

    color: #000000;
}
.titre_img{
    font-family: 'Sora';
    font-style: normal;
    font-size: 13px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}
.text_imgSlide{
    margin-top: 5%;
}