<!-- <div class="main">
    <div class="speakers">
        <h1 class="title1">Découvrez nos intervenants</h1>
        <p class="sp_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque deserunt eligendi quia, cupiditate, dolorum harum ratione consectetur minus tempore temporibus officiis quaerat perspiciatis debitis molestiae iure nobis odio, veniam in! <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aperiam dolore laboriosam hic quibusdam dolorum sint cum odio excepturi, explicabo ipsum ipsa aspernatur reprehenderit adipisci commodi magni enim soluta provident!</p>
    </div>

    <section class="mt-5">
        <div class="team-row">
            <div class="member">
                <img src="../../../assets/img/abdoulaye.png" alt="Avatar" />
                <h3>Pr Abdoulaye Ndiaye</h3>
                <p>Professeur - NYU</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/bashir.png" alt="Avatar" />
                <h3>Bashir Diaby</h3>
                <p>Co-fondateur "coinhub.africa"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/bineta.png" alt="Avatar" />
                <h3>Bineta Ngom</h3>
                <p>Fondatrice "Bleu comme la mer"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/djiby.png" alt="Avatar" />
                <h3>Pr Djiby Sow</h3>
                <p>Professeur en mathématiques, cryptographie <br>et sécurité de l'information</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/econo.png" alt="Avatar" />
                <h3>Econoalchemist</h3>
                <p>Expert en minage</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/elisee.png" alt="Avatar" />
                <h3>Elisee Sare</h3>
                <p>Designer</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/emmanuel.png" alt="Avatar" />
                <h3>Emmanuel Harrault</h3>
                <p>Entrepreneur</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/hermann.png" alt="Avatar" />
                <h3>Hermann Vivier</h3>
                <p>Fondateur "Bitcoin Ekasi"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/paco.png" alt="Avatar" />
                <h3>Hitesh "Paco de la India" Matlani</h3>
                <p>Voyageur</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/joe.png" alt="Avatar" />
                <h3>Joseph Hall</h3>
                <p>Journaliste</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/massamba.png" alt="Avatar" />
                <h3>Massamba Sy</h3>
                <p>Juriste</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/nourou.png" alt="Avatar" />
                <h3>Mouhamadou "nourou" Kouta</h3>
                <p>Créateur de "Yité Technologies" et de "Bitcoin Sénégal"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/mouhamed.png" alt="Avatar" />
                <h3>Mouhamed Diouf</h3>
                <p>Directeur des Etudes et de l'Innovation Projet</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/mouhammad.png" alt="Avatar" />
                <h3>Mouhammad Dieng</h3>
                <p>Co-fondateur "SenBlock"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/ousmane.png" alt="Avatar" />
                <h3>Dr Ousmane Ndiaye</h3>
                <p>Enseignant - Chercheur à l'UCAD</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/peter.png" alt="Avatar" />
                <h3>Peter Todd</h3>
                <p>Développeur - Contributeur Bitcoin</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/prince.png" alt="Avatar" />
                <h3>Prince Don</h3>
                <p>Fondateur "L'Afrique parle Bitcoin"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/saifedean.png" alt="Avatar" />
                <h3>Dr Saifedean Ammous</h3>
                <p>Auteur "The Bitcoin Standard"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/sebgou.png" alt="Avatar" />
                <h3>Sébastien Gouspillou</h3>
                <p>Entrepreneur - Expert en minage industriel</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/sebra.png" alt="Avatar" />
                <h3>Sébastien Ramos</h3>
                <p>Entrepreneur</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/seydina.png" alt="Avatar" />
                <h3>Seydina Sall</h3>
                <p>Ingénieur en Cybersécurité</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/stephan.png" alt="Avatar" />
                <h3>Stephan Livera</h3>
                <p>Host du "Stephan Livera Podcast"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/toffene.png" alt="Avatar" />
                <h3>Toffene Kama</h3>
                <p>Investisseur - Mercy Corps</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/vladbtc.png" alt="Avatar" />
                <h3>Vlad Costea</h3>
                <p>Fondateur "BTCTKVR.COM"</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/vladkwasi.png" alt="Avatar" />
                <h3>Vladimir Fomene</h3>
                <p>Développeur - Contibuteur BDK</p>
            </div>

        </div>
    </section>
</div> -->
<nav id="navbarExample" class="navbar navbar-expand-lg nav1 sticky-top" aria-label="Main navigation">
    <div class="container mx-auto">    
        <a class="navbar-brand logo-text" href="#">
            <img src="../../../assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto navbar-nav-scroll ml-lg-5 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="accueil" >{{'navbar.home' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="about" >{{'navbar.about' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="speakers" >{{'navbar.speakers' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">{{'navbar.program' | translate}}</a>
                </li>
                <li class="nav-item">
                    <select class="nav-link" (change)="changeLang($any($event.target).value)">
                    <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                    <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                    </select>
                </li>
                <li class="nav-item ms-lg-5">
                    <button type="button" class="btn btn_participer rounded btn-dark"><a href="reserver" >{{'navbar.participer' | translate}}</a></button>
                </li>
            </ul>
            <!-- <span class="nav-item">
                <a class="btn-solid-sm" href="#contact">Participer</a>
            </span> -->
        </div> 
    </div> 
</nav>

<div class="row text-center flex justify-center mb-5">

    <div class="speakers"></div>

    <h1 class="title1">Découvrez nos intervenants</h1>
    <p class="sp_paragraph text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque deserunt eligendi quia, cupiditate, dolorum harum ratione consectetur minus tempore 
        temporibus officiis quaerat perspiciatis debitis molestiae iure nobis odio, veniam in! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aperiam dolore 
        laboriosam hic quibusdam dolorum sint cum odio excepturi, explicabo ipsum ipsa aspernatur reprehenderit adipisci commodi magni enim soluta provident!
    </p>
    <div class="speaker">
        <div class="mt-5">
            <div class="row flex justify-center ">
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="assets/img/peter.jpeg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="assets/img/saifedean ammous.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Dr Saifedean Ammous</span> <br>
                        <span class="titre_img">Ecrivain - Professeur</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="assets/img/abdoulaye.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/bashir.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/bineta.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/cheikh seye.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/djiby.png" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/elisee.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/emmanuel.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/hermann-vivier-promo-image.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/joe.png" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/massamba sy.png" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/Mouhammad Dieng.jpeg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/ousmane.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/paco.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/prince.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/saifedean ammous.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/sebastien.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/stephanlivera.33924e6.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/seydina.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/toffene.jpeg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/vlad costea.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
                <div class="imgSlideJaune col-lg-4 col-md-12">
                    <img class="img-fluid imgSlideVert" src="../../../assets/img/vlad fomene.jpg" alt="alternative" />
                    <div class="text_imgSlide">
                        <span class="nom_img">Peter Todd</span> <br>
                        <span class="titre_img">Contributeur Bitcoin</span>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
