<div class="main">
    <div class="speakers">
        <h1 class="title1">Discover our speaker</h1>
        <p class="sp_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque deserunt eligendi quia, cupiditate, dolorum harum ratione consectetur minus tempore temporibus officiis quaerat perspiciatis debitis molestiae iure nobis odio, veniam in! <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel aperiam dolore laboriosam hic quibusdam dolorum sint cum odio excepturi, explicabo ipsum ipsa aspernatur reprehenderit adipisci commodi magni enim soluta provident!</p>
    </div>

    <section class="mt-5">
        <div class="team-row">
            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

            <div class="member">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" style="width: 150px;" alt="Avatar" />
                <h3>Oumar LAM</h3>
                <p>Eternal learner</p>
            </div>

        </div>
    </section>
</div>
