<nav id="navbarExample" class="navbar navbar-expand-lg nav1 fixed-top text-start" aria-label="Main navigation">
    <div class="container">    
        <a class="navbar-brand logo-text" routerLink="">
            <img src="assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto navbar-nav-scroll ml-lg-5 mb-lg-0">
                <li class="nav-item m-1">
                    <a class="nav-link " routerLink="/accueil" >{{'navbar.home' | translate}}</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link " routerLink="/about" >{{'navbar.about' | translate}}</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link " routerLink="/speakers" >{{'navbar.speakers' | translate}}</a>
                </li>
                <li class="nav-item m-1" id="redirection">
                  <a class="nav-link" routerLink="/program">{{'navbar.program' | translate}}</a>
                </li>
                <li class="nav-item m-1">
                    <select class="nav-link" (change)="changeLang($any($event.target).value)">
                    <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                    <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                    </select>
                </li>
                <li class="nav-item m-1 ms-lg-5">
                    <button type="button" class="btn btn_participer rounded btn-dark"><a routerLink="/reserver" >{{'navbar.participer' | translate}}</a></button>
                </li>
                <li class="nav-item m-1 ms-lg-5">
                  <button type="button" class="btn btn_participer2 rounded btn-dark"><a routerLink="/reserver">{{'navbar.don' | translate}}</a></button>
                </li>
            </ul>
        </div> 
    </div> 
</nav>
<img src="assets/img/website banner.png"  class="img_banner d-lg-block" />

<div id="startchange"></div>
<div></div>
<div class="row text-center flex justify-center mb-5" id="">

    
    <div class="row history mt-md-5">
        <div class="col-md-10 col-lg-6 div1 text-start">
            <h2 class="heading titre_history text-start">{{'about.title1' | translate}}</h2>
            <p class="lead text-start">{{'about.p1' | translate}}</p>
            <p class="lead text-start">{{'about.p2' | translate}}</p>
        </div>
        <div class="col-lg-3 col-md-11 img1 rounded-2">
            <img class="featurette-image img-fluid mx-auto"  alt="logo" src="assets/img/The-Bitcoin-Monk-mod.webp" style="width: 400px; height: 400px;" >
        </div>
    </div>

    <div class="row div2">
        <div class="col-md-10 col-lg-6 div1 mt-5 text-start">
            <h2 class="heading titre_history text-start">{{'about.title2' | translate}}</h2><br>
            <p class="text-start lead1">{{'about.p3' | translate}}</p><br><br>
            <p class="text-start lead1">{{'about.p4' | translate}}</p>
        </div>
        <div class="col-lg-3 col-md-9 m-5 rounded-2 d-lg-block d-none">
                <div class="jaune col-4">
                    <img src="assets/img/prainha.jpeg" alt="logo" style="width: 400px;box-shadow: 10px 20px 40px rgba(0, 12, 10, 0.2);">
                </div>
                <div class="jaune col-4">
                    <img src="assets/img/youtubebitcoinsn.PNG" alt="logo" style="width: 400px;box-shadow: 10px 20px 40px rgba(0, 12, 10, 0.2);">
                </div>
                <div class="jaune col-4">
                    <img src="assets/img/mamabtc.webp" alt="logo" style="width: 400px;box-shadow: 10px 20px 40px rgba(0, 12, 10, 0.2);">
                </div>
                <div class="jaune col-4">
                    <img src="assets/img/bitcoinsenegal.webp" alt="logo" style="width: 400px;box-shadow: 10px 20px 40px rgba(0, 12, 10, 0.2);">
                </div>
        </div>
    </div>  
    <div class="row text-center flex justify-center mb-5">
        <div class="theme">
            <div class="mt-5">
                <div class="col-12">
                    <h2 class="heading titre_history  text-center"> {{'about.theme.title' | translate}}</h2>
                </div>
                <div class="row flex justify-center ">
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/bitcoin-encryption.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom1' | translate}}</span> <br>
                        </div>
                    </div>
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/lighting.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom2' | translate}}</span> <br>
                        </div>
                    </div>
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/mining-hardware.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom3' | translate}}</span> <br>
                        </div>
                    </div>
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/1109232.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom4' | translate}}</span> <br>
                        </div>
                    </div>
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/1495604.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom5' | translate}}</span> <br>
                        </div>
                    </div>
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/2717167.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom6' | translate}}</span> <br>
                        </div>
                    </div>
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/3554979.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom7' | translate}}</span> <br>
                        </div>
                    </div>
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/5844701.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom8' | translate}}</span> <br>
                        </div>
                    </div>
                    <div class="imgSlideJaune col-lg-4 col-md-12">
                        <img class="img-fluid imgSlideVert" src="assets/img/bitcoin-mining.png" alt="alternative" />
                        <div class="text_imgSlide">
                            <span class="nom_img">{{'about.theme.nom9' | translate}}</span> <br>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div> 
    <!-- <div class="row theme">
        <div class="col-12">
            <h2 class="heading titre_history  text-start"> Thématiques</h2>
        </div>
        <div class="row disc mt-2">
            <div class="col-lg-5 col-md-12 card_jaune text-start mt-2">
                <ul>
                    <li>Qu’est ce que le bitcoin ?</li>
                    <li>les opportunité de carrère dans le bitcoin</li>
                    <li>Les opportunité d’emploi dans le bitcoin( salariat, freelance, entrepreneuriat...)</li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-0">

            </div>
            <div class="col-lg-5 col-md-12 card_vert text-start mt-2">
                <ul>
                    <li>L’état de l’art du développement bitcoin</li>
                    <li>Le réseau P2P</li>
                    <li>La cryptographie</li>
                    <li>La sécurité dans bitcoin: réseau, code, noeuds, wallet</li>
                    <li>Le lightning network</li>
                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-10 d-lg-block d-none">
                <img src="assets/img/cibles.png" class="cible" alt="">
            </div>

        </div>
        <div class="row disc">
            <div class="col-lg-5 col-md-12 card_vert text-start mt-2 mt-lg-0">
                <ul>
                    <li>Les niveaux du bitcion: layer 2, sidechains, layer3, ...</li>
                    <li>Le lightning network</li>
                    <li>La cryptographie</li>
                    <li>Le Bitcoin VS la Finance traditionnelle VS le Transfert d'argent</li>
                </ul>

            </div>
            <div class="col-lg-2 col-md-0">

            </div>
            <div class="col-lg-5 col-md-12 card_jaune text-start mt-2 mt-lg-0">
                <ul>
                    <li>Le bitcoin comme monnaie légale</li>
                    <li>L'état de réglementation du Bitcoin dans le monde</li>
                    <li>Lutte contre les ponzis</li>
                </ul>
            </div>

        </div>
    </div>  -->
</div>