<nav id="navbarExample" class="navbar navbar-expand-lg nav1 sticky-top " aria-label="Main navigation">
    <div class="container">    
        <a class="navbar-brand logo-text" href="#">
            <img src="../../../assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto navbar-nav-scroll ml-lg-5 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="accueil" >{{'navbar.home' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="about" >{{'navbar.about' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="speakers" >{{'navbar.speakers' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">{{'navbar.program' | translate}}</a>
                </li>
                <li class="nav-item">
                    <select class="nav-link" (change)="changeLang($any($event.target).value)">
                    <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                    <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                    </select>
                </li>
                <li class="nav-item ms-lg-5">
                    <button type="button" class="btn btn_participer rounded btn-dark"><a href="reserver" >{{'navbar.participer' | translate}}</a></button>
                </li>
            </ul>
            <!-- <span class="nav-item">
                <a class="btn-solid-sm" href="#contact">Participer</a>
            </span> -->
        </div> 
    </div> 
</nav>

<div class="row text-center flex justify-center mb-5">

    
    <div class="row history">
        <div class="col-md-10 col-lg-6 div1 text-start">
            <h2 class="heading titre_history text-start"> Our History</h2>
            <p class="lead text-start">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus in amet sit metus, sit sed leo vulputate. Luctus eget tortor in tempus rhoncus nibh sit id turpis. Arcu viverra sit eget at tristique velit euismod. Lobortis urna, tristique adipiscing pellentesque lectus. Sit nec sit nunc pellentesque quis malesuada. Et neque, consequat, tellus, sit. Donec volutpat mauris, hac nulla. Ac faucibus egestas lectus amet. Lacus, fermentum varius ultrices ultricies. Amet elit sit enim tristique fermentum morbi tristique nisl. Risus, gravida sit mauris vulputate elit dignissim.
            </p>
            <p class="lead text-start">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus in amet sit metus, sit sed leo vulputate. Luctus eget tortor in tempus rhoncus nibh sit id turpis. Arcu viverra sit eget at tristique velit euismod. Lobortis urna, tristique adipiscing pellentesque lectus. Sit nec sit nunc pellentesque quis malesuada. Et neque, consequat, tellus, sit. Donec volutpat mauris, hac nulla. Ac faucibus egestas lectus amet. Lacus, fermentum varius ultrices ultricies. Amet elit sit enim tristique fermentum morbi tristique nisl. Risus, gravida sit mauris vulputate elit dignissim.
            </p>
        </div>
        <div class="col-lg-3 col-md-11 img1 rounded-2">
            <img class="featurette-image img-fluid mx-auto"  alt="500x500" src="assets/img/logo_dbd.jpg"  >
        </div>
    </div>

    <div class="row div2">
        <div class="col-md-10 col-lg-3 div1 mt-5 text-start">
            <h2 class="heading titre_history text-start"> Our History</h2>
            <p class="text-start lead1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus in amet sit metus, sit sed leo vulputate. Luctus eget tortor in tempus rhoncus nibh sit id turpis. Arcu viverra sit eget at tristique velit euismod. Lobortis urna, tristique adipiscing pellentesque lectus. Sit nec sit nunc pellentesque quis malesuada. Et neque, consequat, tellus, sit. Donec volutpat mauris, hac nulla. Ac faucibus egestas lectus amet. Lacus, fermentum varius ultrices ultricies. Amet elit sit enim tristique fermentum morbi tristique nisl. Risus, gravida sit mauris vulputate elit dignissim.
            </p>
        </div>
        <div class="col-lg-6 col-md-9 m-5 rounded-2 d-lg-block d-none">
                <div class="jaune col-4"></div>
                <div class="vert col-3"></div>
                <div class="rouge col-4"></div>
        </div>
    </div>   
    <div class="row theme">
        <div class="col-12">
            <h2 class="heading titre_history  text-start"> Thématiques</h2>
        </div>
        <div class="row disc mt-2">
            <div class="col-lg-5 col-md-12 card_jaune text-start mt-2">
                <ul>
                    <li>Qu’est ce que le bitcoin ?</li>
                    <li>les opportunité de carrère dans le bitcoin</li>
                    <li>Les opportunité d’emploi dans le bitcoin( salariat, freelance, entrepreneuriat...)</li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-0">

            </div>
            <div class="col-lg-5 col-md-12 card_vert text-start mt-2">
                <ul>
                    <li>L’état de l’art du développement bitcoin</li>
                    <li>Le réseau P2P</li>
                    <li>La cryptographie</li>
                    <li>La sécurité dans bitcoin: réseau, code, noeuds, wallet</li>
                    <li>Le lightning network</li>
                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-10 d-lg-block d-none">
                <img src="../../../assets/img/cibles.png" class="cible" alt="">
            </div>

        </div>
        <div class="row disc">
            <div class="col-lg-5 col-md-12 card_vert text-start mt-2 mt-lg-0">
                <ul>
                    <li>Les niveaux du bitcion: layer 2, sidechains, layer3, ...</li>
                    <li>Le lightning network</li>
                    <li>La cryptographie</li>
                    <li>Le Bitcoin VS la Finance traditionnelle VS le Transfert d'argent</li>
                </ul>

            </div>
            <div class="col-lg-2 col-md-0">

            </div>
            <div class="col-lg-5 col-md-12 card_jaune text-start mt-2 mt-lg-0">
                <ul>
                    <li>Le bitcoin comme monnaie légale</li>
                    <li>L'état de réglementation du Bitcoin dans le monde</li>
                    <li>Lutte contre les ponzis</li>
                </ul>
            </div>

        </div>
    </div> 
</div>