<nav id="navbarExample" class="navbar navbar-expand-lg nav1 fixed-top " aria-label="Main navigation">
    <div class="container">    
        <a class="navbar-brand logo-text" href="#">
            <img src="../../../assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto navbar-nav-scroll ml-lg-5 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="accueil" >{{'navbar.home' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="about" >{{'navbar.about' | translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="speakers" >{{'navbar.speakers' | translate}}</a>
                </li>
                <li class="nav-item">
                    <select class="nav-link" (change)="changeLang($any($event.target).value)">
                    <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                    <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                    </select>
                </li>
                <li class="nav-item ms-lg-5">
                    <button type="button" class="btn btn_participer rounded btn-dark"><a href="reserver" >{{'navbar.participer' | translate}}</a></button>
                </li>
            </ul>
            <!-- <span class="nav-item">
                <a class="btn-solid-sm" href="#contact">Participer</a>
            </span> -->
        </div> 
    </div> 
</nav>

<div class="row text-center flex justify-center mb-5" id="startchange">

    
    <div class="row history mt-md-5">
        <div class="col-md-10 col-lg-6 div1 text-start">
            <h2 class="heading titre_history text-start">Bitcoin, une révolution technologique</h2>
            <p class="lead text-start">
                Bitcoin est une révolution technologique qui met ensemble une longue liste de techniques et
technologies largement diffusées et utilisées, dont l’association n’avait jamais été expérimentée.
Dans Bitcoin, on manipule de la cryptographie, de l’algorithmie, de la programmation, du réseau
(classique, p2p et d’anonymisation), du logiciel, du hardware, de la sécurité, de l’OS….
Avec Bitcoin, tous les aspects du monde dit « informatique » sont présents et font l’état de
recherches perpétuelles pour éviter l'obsolescence.
            </p>
            <p class="lead text-start">
                En parralèlle, le bitcoin est devenu à travers le temps un système de paiement portant une
cryptomonnaie (une monnaie sécurisée par la cryptographie) qui sert aussi de réserve de valeur,
d’unité de compte et de médium d’échange. Le bitcoin est utilisé pour garder de la valeur et lutter
contre l’hyperinflation, envoyer et recevoir des fonds de partout dans le monde, à des frais réduits,
mettre à l’abri son argent, sans risque d’être la victime de la chute ou de mauvais comportements
d’une entité centrale.
            </p>
        </div>
        <div class="col-lg-3 col-md-11 img1 rounded-2">
            <img class="featurette-image img-fluid mx-auto"  alt="500x500" src="assets/img/logo_dbd.jpg"  >
        </div>
    </div>

    <div class="row div2">
        <div class="col-md-10 col-lg-3 div1 mt-5 text-start">
            <h2 class="heading titre_history text-start">Le Bitcoin au Sénégal</h2>
            <p class="text-start lead1">
                Au Sénégal, on estime les utilisateurs de cryptomonnaies répertoriés par les
                exchanges à un peu plus de 200.000. A cela, il faut rajouter tous les autres
                utilisateurs qui font des échanges en p2p.
                Le bitcoin, qui fait partie de cette liste de cryptomonnaies, est donc
                largement plébiscité par la population locale.
            </p>
            <p class="text-start lead1">
                Il existe des commerces qui acceptent le bitcoin comme moyen de
                paiement, des industriels qui l’utilisent pour payer leurs fournisseurs, des
                startups qui bâtissent des produits et services autour du bitcoin, des
                associations qui promeuvent l’éducation financière à travers le bitcoin
                ETdes sociétés d’investissement qui proposent des véhicules
                d’investissement basés sur le bitcoin.
            </p>
        </div>
        <div class="col-lg-6 col-md-9 m-5 rounded-2 d-lg-block d-none">
                <div class="jaune col-4">
                    <img src="../../../assets/img/prainha.jpeg" alt="logo" style="width: 400px;">
                </div>
                <div class="rouge col-4">
                    <img src="../../../assets/img/xadim.jpg" alt="logo" style="width: 400px;">
                </div>
        </div>
    </div>   
    <div class="row theme">
        <div class="col-12">
            <h2 class="heading titre_history  text-start"> Thématiques</h2>
        </div>
        <div class="row disc mt-2">
            <div class="col-lg-5 col-md-12 card_jaune text-start mt-2">
                <ul>
                    <li>Qu’est ce que le bitcoin ?</li>
                    <li>les opportunité de carrère dans le bitcoin</li>
                    <li>Les opportunité d’emploi dans le bitcoin( salariat, freelance, entrepreneuriat...)</li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-0">

            </div>
            <div class="col-lg-5 col-md-12 card_vert text-start mt-2">
                <ul>
                    <li>L’état de l’art du développement bitcoin</li>
                    <li>Le réseau P2P</li>
                    <li>La cryptographie</li>
                    <li>La sécurité dans bitcoin: réseau, code, noeuds, wallet</li>
                    <li>Le lightning network</li>
                </ul>

            </div>

        </div>
        <div class="row">
            <div class="col-lg-10 d-lg-block d-none">
                <img src="../../../assets/img/cibles.png" class="cible" alt="">
            </div>

        </div>
        <div class="row disc">
            <div class="col-lg-5 col-md-12 card_vert text-start mt-2 mt-lg-0">
                <ul>
                    <li>Les niveaux du bitcion: layer 2, sidechains, layer3, ...</li>
                    <li>Le lightning network</li>
                    <li>La cryptographie</li>
                    <li>Le Bitcoin VS la Finance traditionnelle VS le Transfert d'argent</li>
                </ul>

            </div>
            <div class="col-lg-2 col-md-0">

            </div>
            <div class="col-lg-5 col-md-12 card_jaune text-start mt-2 mt-lg-0">
                <ul>
                    <li>Le bitcoin comme monnaie légale</li>
                    <li>L'état de réglementation du Bitcoin dans le monde</li>
                    <li>Lutte contre les ponzis</li>
                </ul>
            </div>

        </div>
    </div> 
</div>