.footer{
    background-color: #A4052D;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #fff;
    margin: 0%;
    padding: 2%;
    height: auto;
    width: 100%;
}

.foot{
    width: 100%;

}