.btn_participer2{
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;


    /* green */

    background: #FAC400;
    border-radius: 12px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 20px;
    line-height: 31px;
    border: 1px solid #008773;

    /* yellow */

    color: #008773;
}
.btn_participer{
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;


    /* green */

    background: #008773;
    border-radius: 12px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 20px;
    line-height: 31px;
    border: 1px solid #008773;

    /* yellow */

    color: #FAC400;
}
.btn_participer a{
    text-decoration: none;
    color: #FAC400;
}
.btn_participer2 a{
    text-decoration: none;
    color: #008773;
}
.nav1{
    background: white;
}
.bg-nav1{
    
    height: 100%;
    background-attachment: fixed;
    background-position: 100%;
    background-position-y: top;
    background: linear-gradient(
     rgba(0, 0, 0, 0.45), 
     rgba(0, 0, 0, 0.45)
   ),url('../../../assets/img/website_1_banner.png')no-repeat;
   background-size: 100% 100%;
}

.nav1, .nav2, .nav3{
    
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    justify-content: center;
    align-items: center;
    /* identical to box height */


    /* black */

}
.nav1{
    
    color: #060606;
}

#nav2, .nav3{
    
    color: #060606;
}


