.btn_participer2{
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;


    /* green */

    background: #FAC400;
    border-radius: 12px;
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    border: 1px solid #008773;

    /* yellow */

    color: #008773;
}
.btn_participer{
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;


    /* green */

    background: #008773;
    border-radius: 12px;
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    border: 1px solid #008773;

    /* yellow */

    color: #FAC400;
}
.btn_participer a{
    text-decoration: none;
    color: #FAC400;
}
.btn_participer2 a{
    text-decoration: none;
    color: #008773;
}
.nav1, .bg-nav1{
    background-color: #E0E0E0;;
}

.nav1, .nav2, .nav3{
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    justify-content: center;
    align-items: center;
    /* identical to box height */


    /* black */

}
.nav1{
    
    color: #060606;
}

#nav2, .nav3{
    
    color: #060606;
}


