
<div class="row text-center flex justify-center mb-5">
    <div class="banner flex ">
        
        <nav id="navbarExample" class="navbar navbar-expand-lg nav1 fixed-top " aria-label="Main navigation">
            <div class="container">    
                 <a class="navbar-brand logo-text" href="#">
                    <img src="../../../assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
                 </a> 
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll ml-lg-5 mb-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link" href="accueil" (click)="changeBg('1')">{{'navbar.home' | translate}}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="about" (click)="changeBg('2')">{{'navbar.about' | translate}}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link " href="speakers" (click)="changeBg('2')">{{'navbar.speakers' | translate}}</a>
                        </li>
                        <li class="nav-item" id="redirection">
                          <a class="nav-link ">{{'navbar.program' | translate}}</a>
                        </li>
                        <li class="nav-item">
                          <select class="nav-link" (change)="changeLang($any($event.target).value)">
                            <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                            <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                          </select>
                        </li>
                        <li class="nav-item ms-lg-5">
                          <button type="button" class="btn btn_participer rounded btn-dark"><a href="reserver"  (click)="changeBg('3')">{{'navbar.participer' | translate}}</a></button>
                        </li>
                    </ul>
                    <!-- <span class="nav-item">
                        <a class="btn-solid-sm" href="#contact">Participer</a>
                    </span> -->
                </div> 
            </div> 
        </nav>
        <img src="../../../assets/img/website banner.png"  class="img_banner d-lg-block" />
    
        <!-- <nav  class="navbar nav1 navbar-expand-lg container">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../../../assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav me-auto mb-2 mb-lg-0" style="">
                  <li class="nav-item">
                    <a class="nav-link" href="accueil" (click)="changeBg('1')">{{'navbar.home' | translate}}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about" (click)="changeBg('2')">{{'navbar.about' | translate}}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="speakers" (click)="changeBg('2')">{{'navbar.speakers' | translate}}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">{{'navbar.program' | translate}}</a>
                  </li>
                  <li class="nav-item">
                    <select class="nav-link" (change)="changeLang($any($event.target).value)">
                      <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                      <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                    </select>
                  </li>
                  <li class="nav-item ms-lg-5">
                    <button type="button" class="btn btn_participer rounded btn-dark"><a href="reserver"  (click)="changeBg('3')">{{'navbar.participer' | translate}}</a></button>
                  </li>
                </ul>
              </div>
            </div>
          </nav> -->
        <!-- <div class="p-5 row justify-center header">
            <h1 class="mb-3 road">{{'home.header_text' | translate}} </h1>
            <a class="btn btn_participer btn-primary" href="" role="button">Participer</a>
        </div> -->
    </div>
    <div class="row timer" id="startchange">
        <div class="left col-4"></div>
        <div class="left col-lg-4 col-md-12">
            <div class="row bg">
                <div class="rond col-3"> <span>{{daysToDday}}</span> </div>
                <div class="rond col-3"> <span>{{hoursToDday}}</span> </div>
                <div class="rond col-3"> <span>{{minutesToDday}} </span> </div>
                <div class="rond col-3"> <span>{{secondsToDday}} </span> </div>
            </div>
            <div class="row bg">
                <div class="date col-3"> <span>{{'home.day' | translate}}</span> </div>
                <div class="date col-3"> <span>{{'home.hour' | translate}}</span> </div>
                <div class="date col-3"> <span>{{'home.minute' | translate}}</span> </div>
                <div class="date col-3"> <span>{{'home.second' | translate}}</span> </div>
            </div>
        </div>
        <div class="left col-4"></div>
    </div>
    <div class="row dbd">
        <div class="col-md-6 div1 mt-5 text-start">
            <h2 class="heading titre_dbd text-start">Dakar Bitcoin Days</h2>
            <p class="lead text-start">
                {{'home.card1' | translate}}
            </p>
            <button class="btn btn_discover"><span class="discover">{{'home.more' | translate}}</span></button>
        </div>
        <div class="col-lg-3 col-md-11 img1 rounded-2">
            <img class="featurette-image img-fluid mx-auto"  alt="500x500" src="assets/img/logo_dbd.jpg"  >
        </div>
    </div>
    <div class="row target">
        <div class="">
            <h1 class="titre_target text-center">{{'home.target' | translate}}</h1>
        </div>
        <div class="card_target row">
            <p class="lead text-start text-dark">
                {{'home.target_p' | translate}}
            </p>
            <div class="card col-lg-2 col-md-5 m-2" style="width: 18rem;">
                <div class="card-body text-start">
                  <img src="../../../assets/img/StudentMale.png" style="width: 32px; height: 32px" alt="" srcset="">
                  <h6 class="card-subtitle mt-2">{{'home.target_student_title' | translate}}</h6>
                  <p class="card-text mt-2">{{'home.target_student_p' | translate}}</p>
                </div>
            </div>
            <div class="card col-lg-2 col-md-5 m-2" style="width: 18rem;">
                <div class="card-body text-start">
                  <img src="../../../assets/img/SchoolBuilding.png" style="width: 32px; height: 32px" alt="" srcset="">
                  <h6 class="card-subtitle mt-2">{{'home.target_sector_title' | translate}}</h6>
                  <p class="card-text mt-2">{{'home.target_sector_p' | translate}}</p>
                </div>
            </div>
            <div class="card col-lg-2 col-md-5 m-2" style="width: 18rem;">
                <div class="card-body text-start">
                  <img src="../../../assets/img/Informatics.png" class="" style="width: 32px; height: 32px" alt="" srcset="">
                  <h6 class="card-subtitle mt-2">{{'home.target_finance_title' | translate}}</h6>
                  <p class="card-text mt-2">{{'home.target_finance_p' | translate}}</p>
                </div>
            </div>
            <div class="card col-lg-2 col-md-5 m-2" style="width: 18rem;">
                <div class="card-body text-start">
                  <img src="../../../assets/img/Organization.png" style="width: 32px; height: 32px" alt="" srcset="">
                  <h6 class="card-subtitle mt-2">{{'home.target_ins_title' | translate}}</h6>
                  <p class="card-text mt-2">{{'home.target_ins_p' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="monancre" class="row program">
        <div class="">
            <h1 class="titre_target text-center">{{'navbar.program' | translate}}</h1>
        </div>
        <div class="contenu_program text-start row">
            <div class="text_program col-lg-4">{{'home.program_p' | translate}}</div>
            <div class="content_program col-lg-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active buttonday" id="home-tab" data-bs-toggle="tab" data-bs-target="#day1" type="button" role="tab" aria-controls="day1" aria-selected="true">{{'home.program_day_1' | translate}}</button>
                    </li>
                    <li class="nav-item " role="presentation">
                      <button class="nav-link buttonday" id="profile-tab" data-bs-toggle="tab" data-bs-target="#day2" type="button" role="tab" aria-controls="day2" aria-selected="false">{{'home.program_day_2' | translate}}</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="day1" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="stepper row">
                            <div class="horaire col-4">{{'home.program_hour_1' | translate}}</div>
                            <div class="step1 col-1 justify-content-center">
                                <button class="butonStep1">1</button>
                                <div class="line1">&nbsp;</div>
                            </div>
                            <div class="contenu_step1 col-5">
                                <ul>
                                    <li>{{'home.program_1' | translate}}</li>
                                    <li>{{'home.program_2' | translate}}/li>
                                    <li>{{'home.program_3' | translate}}</li>
                                    <li>{{'home.program_4' | translate}}</li>
                                    <li>{{'home.program_5' | translate}}</li>
                                    <li>{{'home.program_6' | translate}}</li>
                                </ul>
                            </div>
                            
                            <div class="horaire col-4">{{'home.program_hour_2' | translate}}</div>
                            <div class="step1 col-1 justify-content-center">
                                <button class="butonStep1">2</button>
                                <div class="line1">&nbsp;</div>
                            </div>
                            <div class="contenu_step1 col-5">
                                <ul>
                                    <li>{{'home.program_7' | translate}}</li>
                                    <li>{{'home.program_8' | translate}}</li>
                                    <li>{{'home.program_9' | translate}}</li>
                                    <li>{{'home.program_10' | translate}}</li>
                                    <li>{{'home.program_11' | translate}}</li>
                                    <li>{{'home.program_12' | translate}}</li>
                                    <li>{{'home.program_13' | translate}}</li>
                                    <li>{{'home.program_14' | translate}}</li>
                                </ul>
                            </div>

                            <div class="horaire col-4"></div>
                            <div class="step1 col-1 justify-content-center">
                                <button class="butonStep1 lastStep">2</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="tab-pane fade" id="day2" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">..2.</div>
                </div>
            </div>
        </div>

    </div>
    <div class="row speaker" style="background-color: #ffffff;">
        <div class="">
            <h1 class="titre_target text-center">{{'home.speakers' | translate}}</h1>
        </div>
        <div class="" style="background-color: #ffffff;">
          <div class="container mt-5">
              <div class="row">
                  <div class="col-lg-12">
                   
                      <div class="slider-container">
                          <div class="swiper-container image-slider">
                              <div class="swiper-wrapper" >
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/peter.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Peter Todd</span> <br>
                                        <span class="titre_img">Développeur - Contributeur Bitcoin</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/abdoulaye.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Pr Abdoulaye Ndiaye</span> <br>
                                        <span class="titre_img">Professeur - NYU</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/saifedean.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Dr Saifedean Ammous</span> <br>
                                        <span class="titre_img">Auteur de "The Bitcoin Standard"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/elisee.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Elisee Sare</span> <br>
                                        <span class="titre_img">Designer</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/stephan.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Stephan Livera</span> <br>
                                        <span class="titre_img">Créateur "The Stephan Livera Podcast"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/prince.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Prince Don</span> <br>
                                        <span class="titre_img">Créateur "L'Afrique Parle Bitcoin"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/hermann.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Hermann Vivier</span> <br>
                                        <span class="titre_img">Créateur "Bitcoin Ekasi"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/paco.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Paco de la India</span> <br>
                                        <span class="titre_img">Créateur "Running with Bitcoin"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/vladkwasi.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Vladimir Fomene</span> <br>
                                        <span class="titre_img">Développeur - Contributeur Bitcoin Dev Kit</span>
                                    </div>
                                  </div>
                                  
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="../../../assets/img/bineta.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Pr Abdoulaye Ndiaye</span> <br>
                                        <span class="titre_img">Professeur - NYU</span>
                                    </div>
                                  </div>
                              </div>
                          </div> 
                      </div> 
                     
                  </div> 
              </div>
          </div> 
        </div> 
    </div>
    <div class="row speaker" style="background-color: #ffffff;">
        <div class="row">
            <div class="bigSponsor row">
                <h1 class="titre_target1">{{'home.sponsors' | translate}}</h1>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../assets/img/yite.png" class="sponsor_img" alt="Avatar" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../assets/img/bitcoinsn.png" class="sponsor_img" alt="Avatar" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../assets/img/senstartup.png" class="sponsor_img" alt="Avatar" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../assets/img/senblock.png" class="sponsor_img" alt="Avatar" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../assets/img/optic.png" class="sponsor_img" alt="Avatar" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../assets/img/ledger.png" class="sponsor_img" alt="Avatar" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../assets/img/moleapp.png" class="sponsor_img" alt="Avatar" />
                </div>
                <div class="col-lg-4 col-md-6">
                    <img src="../../../assets/img/coinhub.png" class="sponsor_img" alt="Avatar" />
                </div>
            </div>
        </div> 
    </div>
   <div class="row dbd dbd1">
        <div class="col-md-10 div1 mt-5">
            <h2 class="heading titre_dbd text-start">Dakar - Sénégal</h2>
            <p class="lead text-start">
                Dakar est la capitale du Sénégal, en Afrique occidentale. Cette ville portuaire sur l'océan Atlantique se trouve sur la presqu'île du Cap-Vert. Son quartier traditionnel, la Médina, accueille la Grande Mosquée, qui se distingue par son imposant minaret. Le musée Théodore-Monot expose des objets culturels comme des vêtements, des percussions, des sculptures et des outils. La vie nocturne animée de la ville trouve son inspiration dans la musique locale, le mbalax.
            </p>
        </div>
        <div class="" >
          <div class="container mt-5">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="slider-container">
                          <div class="swiper-container image-slideur mb-5">
                              <div class="swiper-wrapper" >
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/statue.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/baobab.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/carrapide.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/lacrose.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/taxi.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/mangrove.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/boat.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/corner.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/oldwoman.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/oldman.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/house.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/girl.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/hotel.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/sun.png" alt="alternative" />
                                </div>
                              </div>
                          </div> 
                      </div> 
                     
                  </div> 
              </div>
          </div> 
        </div> 
    </div>

    <div class="row info">
        <div class="col-lg-5 col-10 map" id="map">
            
        </div>
        
        <div class="col-lg-5 col-md-10 form_info">
            <div class="row g-3">
                <span class="titre_info text-start">Contactez nous !</span>
                <div class="col-10 col-lg-5">
                <input type="text" placeholder="Full name" class="form-control" id="name" required>
                </div>
                <div class="col-10 col-lg-5">
                <input type="email" placeholder="Email" class="form-control" id="email" required>
                </div>
                <div class="col-10">
                <textarea class="form-control" placeholder="Message" id="message" rows="3" required></textarea>
                </div>
                <div class="col-10">
                <button class="btn btn-info col-4 mt-4 p-2">Envoyer</button>
                </div>
                
            </div>
          <!-- <div *ngIf="submitted">
              <h4>You submitted successfully!</h4>
              <button class="btn btn-success" (click)="newUser()">Add</button>
          </div> -->
        </div>
    </div>
    
</div>

