::-webkit-scrollbar {
    display: none;
}
.banner{
    // overflow: hidden;
    // position: relative;   
}
.img_banner{
    opacity: 0.7;
    position: relative;
    // bottom: 10%;
    width: 100%;
    height: 750px;
    
    // padding: -20%;
    background-image: url('../../../assets/img/website\ banner.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}



.timer{
    background-color: white;
    margin-top: 5%;
    width: 95%;
}

.rond{
    /* yellow */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin: 1%;
    width: 120px;
    height: 120px;
    background: #008773;
    //border: 1px solid rgba(164, 5, 45, 0.8);
    border-radius: 50%;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    // line-height: 33px;
    text-align: center;
    color: #FAC400;
}
.bg{
    // background-color: green;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    
    /* black */
    
    color: #060606;
    margin: 0.5% 0% 2% 0.5%;
    padding-bottom: 5%;
    width: 145px;
    height: 40px;
}
.dbd{
    background-color: white;
    //box-shadow: 0px 20px 40px rgba(0, 135, 115, 0.2);
    padding-bottom: 2%;
    width: 95%;
}
.dbd2{
    background-color: white;
    //box-shadow: 0px 20px 40px rgba(0, 135, 115, 0.2);
    padding-bottom: 2%;
    width: 100%;
}
.titre_dbd{
    font-family: 'Sora';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    width: 90%;
    
    
    
    /* yellow */
    
    color: #FAC400;
}   
.btn_discover{
    width: 90px;
    height: 90px;
    background: #FAC400;
    border: 1px solid rgba(0, 135, 115, 0.8);
    border-radius: 50%;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 100% */

    text-align: center;

    /* green */

    color: #008773;
    border-spacing: 5px;

}
.lead{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    width: 90%;
    /* or 200% */
}
.div1{
    margin-left: 15%; 
    // margin-right: 10%; 
    // 
}
.div2{
    margin-left: 15%; 
    // margin-right: 10%; 
    // 
}
.img1{
    position: relative;
    top: 5%;
    left: 2%;
    background-color: transparent;
}

.target, .program, .speaker, .dbd1, .info{
    margin-top: 10%;

}
.titre_target, .titre_target1{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */


    /* green */

    color: #008773;  
}
.titre_target{
    margin-left: 0%;  
}
.card{
    
    border:  none;
    background: #FFFFFF;
    height: fit-content;
}
.card_target{
    width: 85%;
    margin-left: 15%;
}
.card-header{
    background: transparent;
}

.card-subtitle{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */


    /* green */

    color: #008773;
}
.card-text{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 138% */


    color: #000000;
}
.card-footer{
    background-color: rgba(0,135,115,0.5);
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 2%;
    /* identical to box height, or 138% */

    text-decoration: none;

    /* yellow */

}
.card-footer > button {
    width: 100%;
    background: transparent;
    border: none;
    color: white;


}

.contenu_program{
    // 
    width: 85%;
    margin-left: 15%;
    margin-top: 2%;
}

.text_program{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    /* or 200% */


    color: #000000;

}
.nav{
    background-color: none;
    text-decoration: none;
    border-bottom: 1px solid #008773;
}
.nav-item{
    width: 50%;
}
.imgSlideVert{
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.nom_img{
    font-family: 'Sora';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 31px;

    color: #000000;
}
.titre_img{
    font-family: 'Sora';
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}
.text_imgSlide{
    margin-top: 10%;
}
.img_slide{
    border-radius: 10%;
}

// .info{
//     margin-left: 10%;
//     width: 90%;
// }

.form_info{
    margin-left: 3%;
}
.titre_info{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: #008773;
}

.btn-info{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 31px;

    /* green */

    color: #008773;
    background: #FAC400;
    border-radius: 12px;
    border: none;
}

.bigSponsor{
    width: 85%;
    margin-left: 10%;
}

.sponsor_img{
   margin: 2% 2% 2% 0%;
   width: 150px;
   height: 150px;
}

.img_slide{
    width: 250px;
    height: 250px;
}

.btn_participer:hover{
    background: #FAC400;
    color: #008773;

}
.btn_participer{
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    // gap: 10px;


    /* green */

    background: #008773;
    border-radius: 12px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    border: 1px solid #008773;

    /* yellow */

    color: #FAC400;
}
.btn_participer a{
    text-decoration: none;
    color: #FAC400;
}
.btn_participer2{
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    // gap: 10px;


    /* green */

    background: #FAC400;
    border-radius: 12px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    width: 190px;
    border: 1px solid #008773;

    /* yellow */

    color: #FAC400;
}
.btn_participer2 a{
    text-decoration: none;
    color: #008773;
}
.nav1{
    background: white;
    width: 100%;

    

}

.nav1{

    // position: relative;
    
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    justify-content: center;
    align-items: center;
    /* identical to box height */
    color: #008773;

    /* black */

}




ul.navbar-nav li a:hover, ul.navbar-nav li a:active, ul.navbar-nav li select:hover {
    color: #008773 !important;
}

a:hover {
    color: #008773 !important;
}



@media screen and (max-width: 700px) {
    .img_banner{
        opacity: 0.7;
        position: relative;
        // bottom: 10%;
        width: 100%;
        height: 230px;  
        background-image: url('../../../assets/img/website\ banner.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        
    }
    .rond{
        /* yellow */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-items: center;
        margin: 2%;
        width: 60px;
        height: 60px;
        background: #008773;
        //border: 1px solid rgba(164, 5, 45, 0.8);
        border-radius: 50%;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        // line-height: 33px;
        text-align: center;
        color: #FAC400;
    }
    
.date{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    
    /* black */
    
    color: #060606;
    margin: 2%;
    padding-bottom: 10%;
    width: 60px;
    height: 60px;
}
}
