
<div class="row text-center flex justify-center mb-5">
    <div class="banner flex">
        
        <nav id="navbarExample" class="navbar navbar-expand-lg nav1 fixed-top text-start" aria-label="Main navigation">
            <div class="container">    
                 <a class="navbar-brand logo-text" href="#">
                    <img src="../../../assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
                 </a> 
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll ml-lg-5 mb-lg-0">
                        <li class="nav-item active m-1">
                          <a class="nav-link" href="accueil" (click)="changeBg('1')">{{'navbar.home' | translate}}</a>
                        </li>
                        <li class="nav-item m-1">
                          <a class="nav-link " href="about" (click)="changeBg('2')">{{'navbar.about' | translate}}</a>
                        </li>
                        <li class="nav-item m-1">
                          <a class="nav-link " href="speakers" (click)="changeBg('2')">{{'navbar.speakers' | translate}}</a>
                        </li>
                        <li class="nav-item m-1" id="redirection">
                          <a class="nav-link" href="program">{{'navbar.program' | translate}}</a>
                        </li>
                        <li class="nav-item m-1">
                          <select class="nav-link" (change)="changeLang($any($event.target).value)">
                            <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                            <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                          </select>
                        </li>
                        <li class="nav-item ms-lg-5 m-1">
                          <button type="button" class="btn btn_participer rounded btn-dark"><a href="reserver"  (click)="changeBg('3')">{{'navbar.participer' | translate}}</a></button>
                        </li>
                        <li class="nav-item ms-lg-5 m-1">
                          <button type="button" class="btn btn_participer2 rounded btn-dark"><a href="reserver"  (click)="changeBg('3')">{{'navbar.don' | translate}}</a></button>
                        </li>
                    </ul>
                    <!-- <span class="nav-item">
                        <a class="btn-solid-sm" href="#contact">Participer</a>
                    </span> -->
                </div> 
            </div> 
        </nav>
        <img src="assets/img/website banner.png"  class="img_banner d-lg-block" />
    
    </div>
    <div id="startchange"></div>
    <div id=""></div>
    <div id=""></div>
    <div class="row timer" id="">
        <!-- <div class="left col-4"></div> -->
        <div class="left col-lg-12 col-md-12">
            <div class="row bg ">
                <div class="rond col-3"> <span>{{daysToDday}}</span> </div>
                <div class="rond col-3"> <span>{{hoursToDday}}</span> </div>
                <div class="rond col-3"> <span>{{minutesToDday}} </span> </div>
                <div class="rond col-3"> <span>{{secondsToDday}} </span> </div>
            </div>
            <div class="row bg">
                <div class="date col-3"> <span>{{'home.day' | translate}}</span> </div>
                <div class="date col-3"> <span>{{'home.hour' | translate}}</span> </div>
                <div class="date col-3"> <span>{{'home.minute' | translate}}</span> </div>
                <div class="date col-3"> <span>{{'home.second' | translate}}</span> </div>
            </div>
        </div>
        <!-- <div class="left col-4"></div> -->
    </div>
    <div class="row dbd">
        <div class="col-md-12 col-lg-6 div1 mt-5 text-start">
            <h2 class="heading titre_dbd text-start">Dakar Bitcoin Days</h2>
            <p class="lead text-start">
                {{'home.card1' | translate}}
            </p>
            <button class="btn btn_discover" routerLink="/about"><span class="discover">{{'home.more' | translate}}</span></button>
        </div>
        <div class="col-lg-3 col-md-11 img1 rounded-2">
            <img class="featurette-image img-fluid mx-auto"  alt="500x400" src="../../../assets/img/startup.png"  >
        </div>
    </div>
    <div class="row target">
        <div class="">
            <h1 class="titre_target text-center">{{'home.target' | translate}}</h1>
        </div>
        <div class="card_target row accordion">
            <p class="lead text-start text-dark">
                {{'home.target_p' | translate}}
            </p>
            <div class="row text-center flex justify-center">
                <div class="card col-lg-2 col-md-5 m-2 accordion-item" >
                    <div class="card-header text-start">
                      <img src="../../../assets/img/education.png" style="width: 32px; height: 32px" alt="" srcset="">
                      <h6 class="card-subtitle mt-2">{{'home.target_student_title' | translate}}</h6>
                    </div>
                    <div *ngIf="display1" class="card-body text-start">
                      <p class="card-text mt-2">{{'home.target_student_p' | translate}}</p>
                    </div>
                    <div class="card-footer " >
                        <button *ngIf="!display1" type="button" (click)="updateCard1()" >{{'home.more' | translate}}</button>
                        <button *ngIf="display1" type="button" (click)="updateCard1()" >{{'home.less' | translate}}</button>
                    </div>
                </div>
    
                <div class="card col-lg-2 col-md-5 m-2" >
                    <div class="card-header text-start">
                        <img src="../../../assets/img/analyst.png" style="width: 32px; height: 32px" alt="" srcset="">
                        <h6 class="card-subtitle mt-2">{{'home.target_sector_title' | translate}}</h6>
    
                    </div>
                    <div *ngIf="display2" class="card-body text-start">
                      <p class="card-text mt-2">{{'home.target_sector_p' | translate}}</p>
                    </div>
                    <div class="card-footer " >
                        <button *ngIf="!display2" type="button" (click)="updateCard2()" >{{'home.more' | translate}}</button>
                        <button *ngIf="display2" type="button" (click)="updateCard2()" >{{'home.less' | translate}}</button>
                    </div>
                </div>
    
                <div class="card col-lg-2 col-md-5 m-2" >
                    <div class="card-header text-start">
                        <img src="../../../assets/img/cashless-payment.png" class="" style="width: 32px; height: 32px" alt="" srcset="">
                        <h6 class="card-subtitle mt-2">{{'home.target_finance_title' | translate}}</h6>
                    </div>
                    <div *ngIf="display3"  class="card-body text-start">
                      <p class="card-text mt-2">{{'home.target_finance_p' | translate}}</p>
                    </div>
                    <div class="card-footer " >
                        <button *ngIf="!display3" type="button" (click)="updateCard3()" >{{'home.more' | translate}}</button>
                        <button *ngIf="display3" type="button" (click)="updateCard3()" >{{'home.less' | translate}}</button>
                    </div>
                </div>
    
                <div class="card col-lg-2 col-md-5 m-2" >
                    <div class="card-header text-start">
                        <img src="../../../assets/img/document.png" style="width: 32px; height: 32px" alt="" srcset="">
                        <h6 class="card-subtitle mt-2">{{'home.target_ins_title' | translate}}</h6>
                    </div>
                    <div *ngIf="display4" class="card-body text-start">
                      <p class="card-text mt-2">{{'home.target_ins_p' | translate}}</p>
                    </div>
                    <div class="card-footer " >
                        <button *ngIf="!display4" type="button" (click)="updateCard4()" >{{'home.more' | translate}}</button>
                        <button *ngIf="display4" type="button" (click)="updateCard4()" >{{'home.less' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row speaker" style="background-color: #ffffff;">
        <div class="">
            <h1 class="titre_target mt-5 text-center">{{'home.speakers' | translate}}</h1>
        </div>
        <div class="" style="background-color: #ffffff;">
          <div class="container mt-5">
              <div class="row">
                  <div class="col-lg-12">
                   
                      <div class="slider-container">
                          <div class="swiper-container image-slider">
                              <div class="swiper-wrapper" >
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/peter.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Peter Todd</span> <br>
                                        <span class="titre_img">Développeur - Contributeur Bitcoin</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/abdoulaye.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Pr Abdoulaye Ndiaye</span> <br>
                                        <span class="titre_img">Professeur - NYU</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/saifedean.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Dr Saifedean Ammous</span> <br>
                                        <span class="titre_img">Auteur de "The Bitcoin Standard"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/elisee.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Elisee Sare</span> <br>
                                        <span class="titre_img">Designer</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/stephan.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Stephan Livera</span> <br>
                                        <span class="titre_img">Créateur "The Stephan Livera Podcast"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/prince.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Prince Don</span> <br>
                                        <span class="titre_img">Créateur "L'Afrique Parle Bitcoin"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/hermann.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Hermann Vivier</span> <br>
                                        <span class="titre_img">Créateur "Bitcoin Ekasi"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/paco.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Paco de la India</span> <br>
                                        <span class="titre_img">Créateur "Run with Bitcoin"</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="assets/img/vladkwasi.jpg" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Vladimir Fomene</span> <br>
                                        <span class="titre_img">Développeur - Contributeur Bitcoin Dev Kit</span>
                                    </div>
                                  </div>
                                  
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="../../../assets/img/sebgou.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Sébastien Gouspillou</span> <br>
                                        <span class="titre_img">Co-fondateur BigBlock Group - Expert du minage industriel</span>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="imgSlideRed">
                                        <div class="imgSlideJaune">
                                            <img class="img-fluid imgSlideVert" src="../../../assets/img/yamb.png" alt="alternative" />
                                        </div>
                                    </div>
                                    <div class="text_imgSlide">
                                        <span class="nom_img">Yamb Ntimba Dominique</span> <br>
                                        <span class="titre_img">Philosophe - Economiste</span>
                                    </div>
                                  </div>
                              </div>
                          </div> 
                      </div> 
                     
                  </div> 
              </div>
          </div> 
        </div> 
    </div>
    <div class="row speaker" style="background-color: #ffffff;">
        <div class="row">
            <div class="bigSponsor row">
                <h1 class="titre_target1">{{'home.partenaires' | translate}}</h1>
                <div class="col-lg-4 col-md-6">
                    <a href=""><img src="../../../assets/img/yite.png" class="sponsor_img" alt="Avatar" /></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href=""><img src="../../../assets/img/bitcoinsn.png" class="sponsor_img" alt="Avatar" /></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href=""><img src="../../../assets/img/senstartup.png" class="sponsor_img" alt="Avatar" /></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href=""><img src="../../../assets/img/senblock.png" class="sponsor_img" alt="Avatar" /></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href=""><img src="../../../assets/img/optic.png" class="sponsor_img" alt="Avatar" /></a>
                </div>
            </div>
        </div> 
    </div>
    <div class="row speaker" style="background-color: #ffffff;">
        <div class="row">
            <div class="bigSponsor row">
                <h1 class="titre_target1">{{'home.sponsors' | translate}}</h1>
                <div class="col-lg-4 col-md-6">
                    <a href=""><img src="../../../assets/img/ftx.png" class="sponsor_img" alt="Avatar" /></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href=""><img src="../../../assets/img/ledger.png" class="sponsor_img" alt="Avatar" /></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href=""><img src="../../../assets/img/moleapp.png" class="sponsor_img" alt="Avatar" /></a>
                </div>
            </div>
        </div> 
    </div>
   <div class="row dbd dbd1">
        <div class="col-md-10 div2 mt-5">
            <h2 class="heading titre_dbd text-center">Dakar - {{'home.pays' | translate}}</h2>
            <p class="lead text-start">{{'home.p1' | translate}}</p>
        </div>
        <div class="" >
          <div class="container mt-5">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="slider-container">
                          <div class="swiper-container image-slideur mb-5">
                              <div class="swiper-wrapper" >
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/statue.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/baobab.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/carrapide.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/lacrose.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/taxi.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/mangrove.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/boat.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/corner.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/oldwoman.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/oldman.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/house.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/girl.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/hotel.png" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/sun.png" alt="alternative" />
                                </div>
                              </div>
                          </div> 
                      </div> 
                     
                  </div> 
              </div>
          </div> 
        </div> 
    </div>

    <div class="row dbd1">
        <div class="col-md-10 div1 mt-5">
            <h2 class="heading titre_dbd text-start text-center">{{'home.place' | translate}}</h2>
            <p class="lead text-start">{{'home.p1' | translate}}</p>
        </div>
        <video controls autoplay width="1220" height="580" controls [muted]="'muted'" loop>
            <source src="assets/img/le-grand-theatre-national-presentation-.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="" >
          <div class="container mt-5">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="slider-container">
                          <div class="swiper-container image-slideur mb-5">
                              <div class="swiper-wrapper" >
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/grand_theatre1.jpg" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/grand_theatre2.jpg" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/grand_theatre3.jpg" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/grand_theatre4.jpg" alt="alternative" />
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid img_slide" src="assets/img/grand_theatre5.jpg" alt="alternative" />
                                </div>
                              </div>
                          </div> 
                      </div> 
                     
                  </div> 
              </div>
          </div> 
        </div> 
    </div>


    <div class="row info">
        <div class="col-lg-10 text-center flex justify-center  col-md-10 form_info mb-3">
            <div class="row text-center flex justify-center">
                <span class="titre_info">{{'home.info' | translate}}</span>
                <div class="col-12">
                <button class="btn btn-info col-2 mt-4 p-2">{{'home.btn_send' | translate}}</button>
                </div>
                
            </div>
          <!-- <div *ngIf="submitted">
              <h4>You submitted successfully!</h4>
              <button class="btn btn-success" (click)="newUser()">Add</button>
          </div> -->
        </div>
        <div class="col-lg-12 col-md-8 map text-start row ">
            <iframe class="col-12" src="https://www.google.com/maps/d/embed?mid=1nz3Ez5_3RUTHcmQJGCncqzeetnEw7OE&ehbc=2E312F" height="380"></iframe>
        </div>
        
    </div>
    
</div>

