
<nav id="navbarExample" class="navbar navbar-expand-lg nav1 fixed-top text-start" aria-label="Main navigation">
    <div class="container mx-auto">    
        <a class="navbar-brand logo-text" routerLink="">
            <img src="../../../assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto navbar-nav-scroll ml-lg-5 mb-lg-0">
                <li class="nav-item m-1">
                    <a class="nav-link " routerLink="/accueil" >{{'navbar.home' | translate}}</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link " routerLink="/about" >{{'navbar.about' | translate}}</a>
                </li>
                <li class="nav-item m-1">
                    <a class="nav-link " routerLink="/speakers" >{{'navbar.speakers' | translate}}</a>
                </li>
                <li class="nav-item m-1" id="redirection">
                  <a class="nav-link" routerLink="/program">{{'navbar.program' | translate}}</a>
                </li>
                <li class="nav-item m-1">
                    <select class="nav-link" (change)="changeLang($any($event.target).value)">
                    <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                    <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                    </select>
                </li>
                <li class="nav-item ms-lg-5 m-1">
                    <button type="button" class="btn btn_participer rounded btn-dark"><a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/e/1FAIpQLSfZvsX9aViGHepwqAKdUtnhS33eVr--BZRhFzSMR47qWNzMOg/viewform?usp=sf_link"  (click)="changeBg('3')">{{'navbar.participer' | translate}}</a></button>
                </li>
                <li class="nav-item ms-lg-5 m-1">
                    <button type="button" class="btn btn_participer2 rounded btn-dark"><a target="_blank" rel="noopener noreferrer" href="https://pay.senebtc.com/apps/24h3zv5xfrSCjVEwi2DBv9rzEdDc/crowdfund"  (click)="changeBg('3')">{{'navbar.don' | translate}}</a></button>
                </li>
            </ul>
        </div> 
    </div> 
</nav>
<img src="assets/img/website banner.png"  class="img_banner d-lg-block" />

<div id="startchange"></div>
<div></div>
<div class="row flex justify-center mt-5 mb-5">
    <div class="">
        <h1 class="titre_target text-center">{{'navbar.program' | translate}}</h1>
    </div>
    <p class="lead text-start">{{'home.program_p' | translate}}</p>
    <div class="row div1 flex justify-center text-center">
        <button (click)="changeBg('bg1');"  [style]="bg1" class="col-md-11  program col-lg-5 mt-5 p-2">
            <div>
                <div class="row flex justify-center text-center">
                    <span>{{'home.program_day_1' | translate}}</span>
                </div>
            </div>
        </button>
        <button (click)="changeBg('bg2')" [style]="bg2" class="col-md-11  program col-lg-5 mt-5 p-2">
            <div>
                <div class="row flex justify-center text-center">
                    <span>{{'home.program_day_2' | translate}}</span>
                </div>
            </div>
        </button>
    </div>
    <div *ngIf="program1" class="row test text-center flex justify-center">
        <div class="stepper row">
            <div class="horaire col-5">{{'home.program_hour_1' | translate}}</div>
            <div class="step1 col-1  justify-content-center">
                <button class="butonStep1">1</button>
                <div class="line1">&nbsp;</div>
            </div>
            <div class="contenu_step1 text-start col-md-5 col-5">
                <ul class="link">
                    <li>{{'home.program_1' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/94999586/">Mouhamadou Kouta</a></li>
                    <li>{{'home.program_2' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/yamb.dominique">Yamb Ntimba Dominique</a><a> | </a><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/emmanuel-h-42762b178/">Emmanuel Harrault</a></li>
                    <li>{{'home.program_3' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.abdoulayendiaye.com/">Pr Abdoulaye Ndiaye</a></li>
                    <li>{{'home.program_4' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://fr.linkedin.com/in/s%C3%A9bastien-gouspillou-7663b7aa">Sébastien Gouspillou</a></li>
                    <li>{{'home.program_5' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/mouhammad-dieng-890b0a125/">Mouhammad Dieng (SenBlock)</a><a> | </a><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/BadaraDiakhate/">Alioune B. Diakhaté (MoleApp)</a><a> | </a><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/bayevels">Bashir Diaby (Coinhub)</a><a> | </a><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/%E2%82%BFineta-ngom-a3744b179/">Bineta Ngom (Bleu Comme La Mer)</a></li>
                    <li>{{'home.program_6' | translate}} - <a target="_blank" rel="noopener noreferrer" href="">Sébastien Ramos</a></li>
                </ul>
            </div>
            
            <div class="horaire col-5">{{'home.program_hour_2' | translate}}</div>
            <div class="step1 col-1 justify-content-center">
                <button class="butonStep1">2</button>
                <div class="line1">&nbsp;</div>
            </div>
            <div class="contenu_step1 text-start col-5">
                <ul class="link">
                    <li>{{'home.program_7' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.eliseesare.com/p/about-me.html">Elisee Sare</a><a> | </a><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/RunwithBitcoin">Paco de la India</a><a> | </a><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/tbkama/">Toffene Kama</a><a> | </a><a target="_blank" rel="noopener noreferrer" href="https://vryfokkenou.com/">Hermann Vivier</a></li>
                    <li>{{'home.program_8' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/massamba-sy-0a01671b9/">Massamba Sy</a></li>
                    <li>{{'home.program_9' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.eliseesare.com/p/about-me.html">Elisee Sare</a></li>
                    <li>{{'home.program_10' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://petertodd.org/">Peter Todd</a></li>
                    <li>{{'home.program_11' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/mouhammad-dieng-890b0a125/">Mouhammad Dieng (SenBlock)</a><a> | </a><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/bayevels">Bashir Diaby (Coinhub)</a></li>
                    <li>{{'home.program_12' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/tbkama/">Toffene Kama</a></li>
                    <li>{{'home.program_13' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/seydina-m-sall/">Seydina Sall</a></li>
                    <li>{{'home.program_14' | translate}} - <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/mednation">Mednation</a></li>
                </ul>
            </div>

            <div class="horaire col-5"></div>
            <div class="step1 col-1 justify-content-center">
                <button class="butonStep1 lastStep">2</button>
            </div>
            
        </div>
    </div>
    <div *ngIf="program2">
        prom 2
    </div>
</div>