
<nav id="navbarExample" class="navbar navbar-expand-lg nav1 sticky-top" aria-label="Main navigation">
  <div class="container mx-auto">    
      <a class="navbar-brand logo-text" href="#">
          <img src="../../../assets/img/removebg-preview.png" alt="logo" style="width: 100px;">
      </a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto navbar-nav-scroll ml-lg-5 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link " href="accueil" >{{'navbar.home' | translate}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="about" >{{'navbar.about' | translate}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link " href="speakers" >{{'navbar.speakers' | translate}}</a>
              </li>
              <li class="nav-item" id="redirection">
                <a class="nav-link" href="program">{{'navbar.program' | translate}}</a>
              </li>
              <li class="nav-item">
                  <select class="nav-link" (change)="changeLang($any($event.target).value)">
                  <option value="fr" [selected]="lang == 'fr'">{{'navbar.btn_lang_fr' | translate}}</option>
                  <option value="en" [selected]="lang == 'en'">{{'navbar.btn_lang_en' | translate}}</option>
                  </select>
              </li>
          </ul>
          <!-- <span class="nav-item">
              <a class="btn-solid-sm" href="#contact">Participer</a>
          </span> -->
      </div> 
  </div> 
</nav>

<div class="row text-center flex justify-center">
    <div class="container row reserve flex justify-center">
        <div class="col-12">
            <h1 class="titre">Rejoignez nous et apprenez avec nous !</h1>
        </div>
        <div class="col-12">
            <p class="para text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mus in amet sit metus, sit sed leo vulputate. Luctus eget tortor in tempus rhoncus nibh sit 
                id turpis. Arcu viverra sit eget at tristique velit euismod. Lobortis urna, tristique adipiscing pellentesque lectus. Sit nec sit nunc pellentesque quis
                 malesuada. Et neque, consequat, tellus, sit. Donec volutpat mauris, hac nulla. Ac faucibus egestas lectus amet. Lacus, fermentum varius ultrices ultricies. 
                 Amet elit sit enim tristique fermentum morbi tristique nisl. Risus, gravida sit mauris vulputate elit dignissim.
            </p>
        </div>
    </div>
</div>


<div class="row m-5">
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-lg-8 col-md-10">
        <form>
        <div class="row">
          <div class="form-group mt-4 col-md-6">
            <label for="inputEmail4">Prenoms</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Prenoms" required>
          </div>
          <div class="form-group mt-4 col-md-6">
            <label for="inputPassword4">Nom</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Nom" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group mt-4 col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
          </div>
          <div class="form-group mt-4 col-md-6">
            <label for="inputState">Activités</label>
            <select id="inputState" class="form-control" required>
              <option selected>Choisir...</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group mt-4 col-md-6">
            <label for="inputCity">Entreprise/Ecole</label>
            <input type="text" class="form-control" id="inputCity" required>
          </div>
          <div class="form-group mt-4 col-md-3">
            <label for="inputState">Pays de provenance</label>
            <input type="text" class="form-control" id="inputState" placeholder="Pays de provenance" required>
          </div>
          <div class="form-group mt-4 col-md-3">
            <label for="inputZip">Région</label>
            <input type="text" class="form-control" id="inputZip" required>
          </div>
        </div>
        <div class="row">
            <label for="" class="mt-4 mb-3">Sujets/Thématiques</label>
            <div class="form-group col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
        
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
        
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
        
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
        
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
        
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
        
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
        
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
        
              </div>
            </div>
        </div>
        
            <div class="form-group mt-4">
                <label for="exampleFormControlTextarea1">Autres choses à nous dire ? (Facultatif)</label>
                <textarea class="form-control mt-1" id="exampleFormControlTextarea1" rows="6"></textarea>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <button type="submit" class="btn btn_send btn-primary mt-5 col-4">Envoyer</button>
                <div class="col-4"></div>
            </div>

        </form>
    </div>
    <div class="col-lg-2 col-md-1"></div>
</div>